navs{
    /* text-align: center; */
    /* background-color: antiquewhite; */
    height: 70px;
    width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 20px; */
}
navs a{
    padding: 30px;
    text-decoration: none;
    color: black;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    
}
navs a:hover{
    color: gray
}
navs .dropDown{
    display: none
}

nav{
    /* border: 1px solid black; */
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    height: 80px;
    margin: 20px 40px;
}
nav a{
    padding: 0px 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: gray;
    font-size: 18px
}
nav a:hover{
    color: black;
}


@media only screen and (max-width: 400px) {
    nav {
      /* background-color: lightblue; */
      width: 400px;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 20px -60px !important;
    }
    
    nav a{
        padding: 0px !important;
        font-size: 12px ;
        margin: 0px 0px 8px 8px !important;
        
        align-items: center;
        /* justify-content: start; */
    }

  }
@media only screen and (max-width: 600px) {
    nav {
      /* background-color: lightblue; */
      width: 500px;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 20px 20px
    }
    
    nav a{
        padding: 0px !important;
        font-size: 12px ;
        margin: 0px 0px 12px 12px !important;
        
        align-items: center;
        /* justify-content: start; */
    }

  }
  @media only screen and (max-width: 800px) {
    nav {
      /* background-color: lightblue; */
      width: 800px;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 20px 25px !important;
    }
    
    nav a{
        padding: 0px !important;
        font-size: 15px ;
        margin: 0px 0px 10px 10px !important;
        
        align-items: center;
        /* justify-content: start; */
    }

  }

  @media only screen and (max-width: 600px) {
    navs {
      background-color: lightblue;
      width: 500px
    }
    navs .dropDown{
        display: block
    }
    navs a{
        padding: 0px !important;
        font-size: 12px ;
        margin: 0px 0px 12px 12px !important;
        
        align-items: center;
        /* justify-content: start; */
    }
  }