nav{
    /* text-align: center; */
    /* background-color: antiquewhite; */
    height: 70px;
    width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 20px; */
}
nav a{
    padding: 30px;
    text-decoration: none;
    color: black;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    
}
nav a:hover{
    color: gray
}
nav .dropDown{
    display: none
}




@media only screen and (max-width: 600px) {
    nav {
      background-color: lightblue;
      width: 500px
    }
    nav .dropDown{
        display: block
    }
    nav a{
        padding: 0px !important;
        font-size: 12px ;
        margin: 0px 0px 12px 12px !important;
        
        align-items: center;
        /* justify-content: start; */
    }

  }
  