.sidebar {
    margin: 0;
    padding: 0;
    width: 400px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   /* #04AA6D */
  .sidebar a.active {
    background-color:  #b48484; 
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }



  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 800px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 300px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }



  .form-action input{
    width: 600px;
    height: 50px;
    border: transparent;
    background-color: #e8f0fe;
    border-radius: 15px;
    font-weight: bold;
    
}
.input-div{
    height: 300px !important;
    
}
.form-action label{
    text-align: center;
    font-weight: bold
}

.form-action span {
    text-align: center;
}
.form-action span {
    color: red;
}