.input-options{
    width: 600px;
    height: 50px;
    background-color: #e8f0fe;
    border-radius: 15px;
    
}
.input-options option{
    font-weight: bold;
}
.input-div{
    text-align: justify !important;

}
input{
    border: 1px solid gray;
    height: 50px;
    width: 500px;
    border-radius:15px;
}
textarea{
    /* border: 1px solid gray; */
    width: 600px;
    border-radius:15px;
    background-color: #e8f0fe
    
}
@media only screen and (max-width: 400px) {
    .form-action input {
      width: 300px;
      margin-left: 50px !important
    }

    .form-action label{
        margin-left: 0px;
        font-size: 10px;
    }

    textarea{
        width: 300px;
        margin-left: 0px !important;
    }
    .img-input{
        width: 300px !important
    }
    
  }

  @media only screen and (max-width: 770px) {
    .form-action input {
      width: 700px;
      margin-left: 0px !important
    }
    .form-action label{
        margin-left: 0px !important;
        font-size: 10px;
    }
    .form-action h1{
        margin-left: 180px;
    }
    textarea{
        width: 700px;
        margin-left: 0px !important
    }
    
  }
  @media only screen and (max-width: 600px) {
    .form-action{
        text-align: center;
    }
    .form-action input {
      width: 300px;
      margin-left: 0px !important
    }
    .form-action label{
        margin-left: 0px !important;
        font-size: 15px;
    }
    textarea{
        width: 300px;
        margin-left: 0px!important
    }
    .form-action h1{
        margin: 0px;
    }
    
  }