.column {
    float: left;
    width: 45%;
    padding: 10px;
    margin: 45px;
    height: 500px; /* Should be removed. Only for demonstration */
    /* text-align: center; */
    /* border: 1px solid black; */
    
  }

  .typewriter span{
        font-size: 20px;
        margin-left: 20px;
        font-weight: bold;
        letter-spacing: 1px;
  }
  .main-img{
        height: 400px;
  }
  .button{
        height: 50px;
        width: 300px;
        border-radius: 15px;
        color: white;
        font-weight: bold;
        background-color: #96bf47;
        letter-spacing:1px;
  }
  .button:hover{
        background-color:#5f615c 
  }