.deleteProduct{
    margin-left: 210px
}
@media only screen and (max-width: 400px) {
    .deleteProduct{
        margin-left: -100px
    }
    .button{
        width: 200px
    }
  }

  @media only screen and (max-width: 800px) {
    .deleteProduct{
        margin-left: 140px
    }
    .button{
        width: 200px
    }
  }