.product-details-div{
    display: flex;
    justify-content:space-around;
    align-items:center;
    margin-top: 100px;
     
}
.modal-div{
    display: flex;
    gap: 60px;
    /* align-items: center; */
    /* z-index: 1; */
    width: 1600px;
    /* text-align: center */
}
.product-details-img-modal{
    height: 500px;
}
.plus-minus-div{
    border: 1px solid black;
    padding:10px 80px;
    border-radius: 15px;
    font-size: 25px
}

@media only screen and (max-width: 600px) {
    .product-details-div {
        flex-direction: column;
        margin-left: 120px;
    }
    .modal-div{

        flex-direction: column;
        width: 400px;
        
    }
    .product-details-img-modal{
        height: 100px
    }
    .plus-minus-div{
        padding: 5px  30px
    }
    .modal-div h1, p{
        font-size: 15px
    }
}