.product-details-div{
    display: flex;
    justify-content:space-around;
    align-items:center;
    margin-top: 100px;
     
}
.modal-div{
    display: flex;
    gap: 60px;
    /* align-items: center; */
    /* z-index: 1; */
    width: 1600px;
    /* text-align: center */
}
.product-details-img-modal{
    height: 500px;
}
.plus-minus-div{
    border: 1px solid black;
    padding:10px 80px;
    border-radius: 15px;
    font-size: 25px
}