.service-h1{
    font-family: 'Dancing Script', cursive;
}
.service{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
     
}
.service div{
    /* border: 1px solid black; */
    width: 300px;
    text-align: center;
}
.service img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.service-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 80px
}


@media only screen and (max-width: 600px) {
    .service {
        flex-direction: column
    }
    
  }

  @media all and (max-width: 400px) and (min-width: 350px) {
    .header-text{
        font-size: 22px
    }
    .service{
        margin-left: 100px;
    }
    .service-image{
        margin-left: 120px;
        width: 70%
    }
    
  }

  @media all and (max-width: 800px) and (min-width: 750px) {
    .service {
        flex-direction: column;
        margin-left: 100px;
    }
    .header-text{
        margin-left: 150px
    }
    .service-h1{
        margin-left: 150px;
    }
    .service-image{
        margin-left: 150px;
        width: 70%
    }
    
    
  }